.video-lightbox-btn {
	position: absolute !important;
	top: 80px;
	right: 18px;
	z-index: 1;
	@extend %transit;


	img {
		width: 30px;
		height: 30px;
		@extend %transit;
	}

	&:hover{
		img {
			transform: scale(1.1);
		}
	}
}